
@{
    ViewBag.Title = "Index";
}

<br />
<div class="jumbotron">
    <div class="container">
        <h2>Welcome</h2>
        <p>This is the final project submission for PROG30000 made by Mena Shafik and Marco Ross for Magdin Stoica.</p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h1 class="info">What is this?</h1>
            <p>A soccer betting web application built using ASP.NET 4.5.2. It allows users to place bets on soccer matchups that occur every week throughout the regular season of the English Premier League.</p>

        </div>
        <div class="col-md-4">
            <h1 class="info">Why did we do it?</h1>
            <p>We wanted to make an interesting application that we are both invested in which implements modern software design principles. Building this application has helped us further our skills and understanding in the MVC design pattern and implementation.</p>

        </div>
        <div class="col-md-4">
            <h1 class="info">Whats next?</h1>
            <p>This application has a lot of room for growth which includes implementing a PayPal-based betting system through PayPal's API on ASP, as well as retrieving <b>dynamic</b> matchup information week-by-week rather than hardcoding into the database.</p>

        </div>
    </div>
